.c_minji {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.c_hanni {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.c_dani {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.c_haerin {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.c_hyein {
    background-image: url("");
    background-size: cover;
    background-position: center;
}


.p_minji {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_hanni {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_dani {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_haerin {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_hyein {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_nj {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_vid {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_pen {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_cam {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_moon {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
.p_njd {
    background-image: url("");
    background-size: cover;
    background-position: center;
}
